<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table,
    th,
    td {
      border: 1px solid #000;
      border-collapse: collapse;
    }

    th,
    td {
      text-align: center;
      padding: 5px 10px;
    }

    th {
      background-color: rgba(0, 255, 0, 0.1);
    }

    td {
      background-color: rgba(0, 0, 255, 0.1);
    }

    /* add */
    form {
      padding: 10px;
      border: 2px solid;
    }

    /* onPassFont */
    .noPass {
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- table -->
    <table>
      <thead>
        <tr>
          <th>编号</th>
          <th>科目</th>
          <th>成绩</th>
          <th>操作</th>
        </tr>
      </thead>
      <!-- 有数据时渲染 -->
      <tbody v-if="list.length > 0">
        <tr v-for="(item, index) in list">
          <td>{{index+1}}</td>
          <td>{{item.name}}</td>
          <td :class="{ noPass: item.score < 90 }">{{item.score}}</td>
          <td>
            <a href="#" @click="del">删除</a>
          </td>
        </tr>
      </tbody>
      <!-- 无数据时渲染 -->
      <tbody v-else>
        <tr>
          <td colspan="5">
            <span>无数据</span>
          </td>
        </tr>
      </tbody>

    </table>
    <!-- add -->
    <form action="javascript:">
      <p>新增</p>
      <label for="name">科目：</label>
      <input type="text" name="name" id="name" autocomplete="off">
      <br><br>
      <label for="score">成绩：</label>
      <input type="text" score="score" id="score" autocomplete="off">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        list: [
          { id: 1, name: '语文', score: 89 },
          { id: 2, name: '数学', score: 150 },
          { id: 3, name: '英语', score: 140 },
        ],
      },
      methods: {
        del () {
          
        }
      }
    })
  </script>
</body>

</html>